h2 {
  color: #d0242a;
}
:root {
  font-size: 15px;
}

.nav-link {
  color: #f0f0f0;
}
.nav-link:hover {
  color: #d0242a;
  background-color: #f0f0f0;
}
.dropdown-item:hover {
  color: #f0f0f0;
  background-color: #d0242a;
}
body {
  background-color: #f0f0f0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #f0f0f0;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.orange-box1 {
  background-color: #d0242a;
  height: auto;
  width: 100%;
}

footer {
  height: 140px;
  width: 100%;
  background-color: #d0242a;
}
.middlimg {
  padding-top: 50px;
}
.middltext {
  padding-top: 50px;
}
.topics > :first-child {
  background: #f0f0f0;
  width: 32.5%;
  height: 400px;
}

.topics > :last-child {
  background: #f0f0f0;
  width: 67%;
  height: 400px;
}

.orange-box2 > section {
  background: #f0f0f0;
  width: 100%;
  height: 250px;
}
.footertext {
  color: #f0f0f0;
  text-align: center;
}

.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-row {
  flex-direction: row;
}
.justify-space-between {
  justify-content: space-between;
}

.m-1 {
  margin: 1rem;
}
.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}

/* @media screen and (min-width: 320px) {
      .orange-box1{
          flex-direction: row;
      }
      .orange-box2 {
          flex-direction: row;
      }
      .topics{
          flex-direction: column;
      }
      .topics>article{
          width: 100%;
          height: 250px;
          margin-bottom: 1rem;
      }
  
    }
  
    @media screen and (min-width: 768px) {
      .orange-box1{
          flex-direction: row;
      }
      .orange-box2 {
          flex-direction: row;
      }
      .topics{
          flex-direction: row;
      }
      .topics>article{
          width: 32.5%;
          height: 400px;
      }
  
    }
  
    @media screen and (min-width: 1024px) {
      .orange-box1{
          flex-direction: row;
      }
      .orange-box2 {
          flex-direction: row;
      }
      .topics{
          flex-direction: row;
      }
      .topics>article{
          width: 32.5%;
          height: 400px;
      }
  
    }
    */
